
.root {
    -fx-background-color: linear-gradient(to bottom right,
    #f6f1ff,
    #e8f6ff,
    #f2ffea
    );
}


.header-label {
    -fx-text-fill: #5d5d7a;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(200, 200, 255, 0.5), 10, 0.3, 0, 0);
}


.sub-title {
    -fx-text-fill: #6f7fa1;
    -fx-font-weight: bold;
}


.panel {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 12;
    -fx-padding: 15;
    -fx-border-color: rgba(180, 180, 255, 0.5);
    -fx-border-radius: 12;
}


.button {
    -fx-background-color: linear-gradient(to right,
    #dfe6ff,
    #f1ddff
    );
    -fx-text-fill: #535353;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 12;

    -fx-effect: dropshadow(gaussian, rgba(180,180,255,0.35), 8, 0.5, 0, 0);
}
.button:hover {
    -fx-background-color: linear-gradient(to right,
    #e8edff,
    #f6e7ff
    );
}


.table-view {
    -fx-background-color: transparent;
    -fx-border-color: rgba(150, 150, 255, 0.4);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.table-view .column-header-background {
    -fx-background-color: #f4f0ff;
}

.table-column {
    -fx-text-fill: #6b6b6b;
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-text-fill: #4f4f4f;
}
.table-row-cell:selected {
    -fx-background-color: #e1f0ff;
    -fx-text-fill: #404040;
}


.gpa-big {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: #6a7adb;
    -fx-effect: dropshadow(gaussian, rgba(180,180,255,0.5), 15, 0.5, 0, 0);
}
